.next-section {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #d9534f;
  padding: 20px;
  background-color: #fff;
  height: 80vh; /* Adjust height as needed */
  box-sizing: border-box; /* Ensure padding is included in the height */
}

.profile-container img {
  flex-basis: 50%; /* Takes up half of the container */
  height: 100%; /* Ensure it fills the height */
  object-fit: cover; /* Cover the entire area */
}

.profile-description {
  flex-basis: 50%; /* Takes up half of the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.profile-description p {
  margin-bottom: 20px;
}

.profile-description button {
  padding: 10px 20px;
  background-color: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.profile-description button:hover {
  background-color: #78302d;
}

/* Connections Tab - BS5 Offcanvas */
/* popup windows */
/* Popup background styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

/* Popup content styling */
.popup-content {
  background: #ffffff; /* White background */
  padding: 30px;
  border-radius: 10px; /* Rounded corners */
  text-align: center;
  width: 300px; /* Fixed width, or max-width for responsiveness */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: auto;
  /* Centering the content using transform */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Checkmark image style */
.popup-content:before {
  content: "";
  display: block;
  width: 75px; /* Checkmark size */
  height: 75px; /* Checkmark size */
  background-image: url("https://github.com/an-m1/counterWebsite/blob/main/checked.png?raw=true");
  background-size: cover;
  margin: 0 auto 10px auto;
}

.popup-header {
  color: #333333; /* Dark text color */
  margin-bottom: 20px;
}

.popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  background: none;
  color: #aaaaaa; /* Light gray color */
}

.ok-btn {
  background-color: #e91e63; /* Pink button color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  border-radius: 20px; /* Rounded button edges */
  cursor: pointer;
  outline: none;
}

/* Ensure the text is similar to the image */
.popup-content p {
  font-size: 16px;
  line-height: 1.6;
  color: #555555; /* Medium gray text color */
}

/* connect me social media buttons */

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-tiktok,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.tiktok {
  background: #000000;
}

.rounded-social-buttons .social-button.tiktok:hover,
.rounded-social-buttons .social-button.tiktok:focus {
  color: #000000;
  background: #fefefe;
  border-color: #000000;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
